body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

  .controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }

  :root {
    --blur: 0px;
    --spacing: 0px;
    --base: #ffc600;
  }

  .hl {
    color: var(--base);
  }

  .image {
    border: 10px;
    border-style: solid;
    border-color: var(--base);
    filter: blur(var(--blur));
    margin-left: var(--spacing);
  }



  